body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;


  background-image:url(https://images.unsplash.com/photo-1464600444320-85b081b19df8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)

}

p {
  margin-top: 80px;
  color: white;
}
.jumbotron {
  opacity: 0.8;
  background-color: black;
}

.display-4 {
  font-family: Oswald, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 45px;
}

.button{

  display:flex;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 200px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  transform: scale(1.2);

  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  background-color: green;
  border-color: green;
  border-radius: 30px;

}

.btn:hover {
  background-color: rgba(255,255,255,0);

  border-color: green;
  transform: scale(1.25);
  transition: 300ms;

}
