:root {
  --font-main: 'Source Sans Pro', sans-serif;
  --font-heading: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html * {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
